body {
    background-color: #3333335d;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


main {
    .container {
        margin: 2rem;

        .row {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem 2rem;

            .col {
                flex-grow: 1;
                margin: 2rem;


                .title {
                    text-transform: uppercase;
                }

                .language-box {
                    img {
                        position: absolute;
                        right: 15px;
                        width: 100px;
                        bottom: 15px
                    }
                }

                .rating {
                    margin-top: 2rem;
                    font-size: 1.4rem;
                    color: gold;
                }

                #overview {
                    background-color: transparent;
                    border: none;
                    resize: none;
                    margin-top: 1rem;
                    width: 100%;
                }

                .type {
                    text-transform: uppercase;
                    position: absolute;
                    bottom: 15px;
                }

            }
        }
    }
}

.poster-box {
    width: 342px;
    height: 513px;
    filter: drop-shadow(10px 10px 20px purple);

    img {
        height: 100%;
        width: 100%;
    }
}

.info {
    box-sizing: border-box;
    font-size: 1.25rem;
    width: 342px;
    height: 513px;
    background-color: #33333360;
    filter: drop-shadow(10px 10px 20px purple);
    text-align: left;
    padding: 1rem;
    position: relative;

}

div.col:hover .poster-box {
    display: none;
}

div.col:hover .info {
    display: block;
}

div.col .info {
    display: none;
}

.divider {
    height: 2px;
    margin: 3rem 2rem;
    background-color: purple;
}

