body {
    background-color: #3333335d;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(181, 181, 181);

    .logo {
        width: 400px;
        margin-left: -1rem;
    }

    border-bottom: 2px solid purple;
    margin: 0 2rem;

    .searchbox {
        padding: 3rem 3rem;

        input {
            width: 400px;
            padding: 1rem;
            border: none;
            box-shadow: 10px 10px 30px grey;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            font-size: 1.2rem;
        }

        button {
            width: 50px;
            padding: 14.5px 1rem 14.5px 0.5rem;
            border: none;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            font-size: 1.4rem;
            cursor: pointer;
        }
    }
}

main {
    .container {
        margin: 2rem;

        .row {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem 3rem;

            .col {
                flex-grow: 1;

                .poster-box {
                    width: 342px;
                    height: 513px;
                    filter: drop-shadow(10px 10px 20px purple);
                }

                .info {
                    box-sizing: border-box;
                    font-size: 1.25rem;
                    width: 342px;
                    height: 513px;
                    background-color: #33333360;
                    filter: drop-shadow(10px 10px 20px purple);
                    text-align: left;
                    padding: 1rem;
                    position: relative;

                }

                .title {
                    text-transform: uppercase;
                }

                .language-box {
                    img {
                        position: absolute;
                        right: 15px;
                        width: 100px;
                        bottom: 15px
                    }
                }

                .rating {
                    margin-top: 2rem;
                    font-size: 1.4rem;
                    color: gold;
                }

                #overview {
                    background-color: transparent;
                    border: none;
                    resize: none;
                    margin-top: 1rem;
                }

                .type {
                    text-transform: uppercase;
                    position: absolute;
                    bottom: 15px;
                }

            }
        }
    }
}


div.col:hover .poster-box {
    display: none;
}

div.col:hover .info {
    display: block;
}

div.col .info {
    display: none;
}